.quantity {
  width: 30%;
  padding-left: 64px;

  .quantity-card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .quantity-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    .add-to-cart-btn {
      width: 100%;
      height: 40px;
      cursor: pointer;
    }
  }
}
